<div class="col-md-{$width|default=6}">
    <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
            <h3 class="block-title">团队</h3>
        </div>
        <div class="block-content">
            <table class="table">
                <tbody>
                <tr>
                    <td>名称</td>
                    <td></td>
                </tr>
                <tr>
                    <td>设计</td>
                    <td></td>
                </tr>
                <tr>
                    <td>官方网址</td>
                    <td></td>
                </tr>
                <tr>
                    <td>官方微信</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>官方QQ群</td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>