{extend name="layout" /}

{block name="content"}
<link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css">
<style>
    .layui-form-label{
        width: 120px;
    }
    .layui-form-item .layui-input-inline{
        width: 300px;
    }
    input[disabled]{
        background-color: #C0C0C0;
    }
</style>
<label class="layui-form-label" style="width: auto;">快速录入</label>
<div class="block-content" style="background-color: #fff;">
    <form class="layui-form" action="" method="POST">

        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select name="voucher_class" lay-filter="voucher_class">
                    <option value="0">请选择凭证分类</option>
                    {volist name="financial_mould_list" id="vo"}
                    <option value="{$vo.id}">{$vo.mould_name}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">凭证摘要号</label>
            <div class="layui-input-inline">
                <input type="text" name="voucher_code" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">凭证摘要名称</label>
            <div class="layui-input-inline">
                <input type="text" name="voucher_name" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">借方科目代码</label>
            <div class="layui-input-inline">
                <input type="text" name="debit_subject_code" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">借方科目名称</label>
            <div class="layui-input-inline">
                <input type="text" name="debit_subject_name" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">贷方科目代码</label>
            <div class="layui-input-inline">
                <input type="text" name="credit_subject_code" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">贷方科目名称</label>
            <div class="layui-input-inline">
                <input type="text" name="credit_subject_name" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">交易商代码</label>
            <div class="layui-input-inline">
                <input type="text" name="dealer_code" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品代码</label>
            <div class="layui-input-inline">
                <input type="text" name="good_code" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">合同号</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_code" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">金额<span style="color: red;">*</span></label>
            <div class="layui-input-inline">
                <input type="text" name="money" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="submit">快速录入</button>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>
        </div>
    </form>

</div>


<script src="__STATIC__/index/layui/layui.js?v={:config('asset_version')}"></script>

<script>

    layui.use(['form', 'layer', 'jquery'], function(){
        var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery;

        // select 下拉选择 获取科目名称等
        form.on('select(voucher_class)', function(data){
            var _value = data.value;
            if(_value == 0){
                layer.msg('请选择类型'); return false;
            }

            var _param = {
                id: _value
            };

            $.post('{:url("financial_main/get_mould_info")}', _param, function(res){
                console.log(res)
                if(res.code == 1){
                    var _data = res.data;
                    $('input[name="voucher_code"]').val(_data.abstract_num);
                    $('input[name="voucher_name"]').val(_data.abstract_name);
                    $('input[name="debit_subject_code"]').val(_data.debit_subject_code);
                    $('input[name="debit_subject_name"]').val(_data.debit_subject_name);
                    $('input[name="credit_subject_code"]').val(_data.credit_subject_code);
                    $('input[name="credit_subject_name"]').val(_data.credit_subject_name);

                }else{
                    layer.msg(res.msg); return false;
                }
            }, 'json')



        });    

    });
</script>


{/block}