{extend name="layout" /}

{block name="content"}
<link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css?v={:config('asset_version')}">
<style>
    .layui-form-label{
        width: 120px;
    }
    .layui-form-item .layui-input-inline{
        width: 300px;
    }
</style>
<label class="layui-form-label" style="width: auto;">空单凭证</label>

<div class="block-content" style="background-color: #fff;">

    <form class="layui-form" action="" method="POST">

        <div class="layui-form-item">
            <label class="layui-form-label">凭证编号</label>
            <div class="layui-input-inline">
                <input type="text" name="voucher_code" value="{$voucher_code}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">单号</label>
            <div class="layui-input-inline">
                <input type="text" id="deal_id" name="deal_id" placeholder="请填写单号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">挂单数</label>
            <div class="layui-input-inline">
                <input type="text" name="total_num" placeholder="请先填写单号" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交数</label>
            <div class="layui-input-inline">
                <input type="text" name="deal_num" placeholder="请先填写单号" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <input type="text" name="deal_type" placeholder="请先填写单号" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea class="layui-textarea" name="remarks" rows="5"></textarea>
            </div>
        </div>
        <input type="hidden" name="user_id">
        <!-- <input type="hidden" name="voucher_class"> -->

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary reset">清空</button>
            </div>
        </div>
    </form>
</div>

<script src="__STATIC__/index/layui/layui.js?v={:config('asset_version')}"></script>
<script>
    layui.use(['form', 'layer', 'jquery'], function(){

        var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery;


        // 单号 失去焦点
        $("#deal_id").blur(function(){

            var deal_id = $('input[name="deal_id"]').val();

            $.post('{:url("get_deal_info")}', {deal_id: deal_id}, function(res){
                if(res.code == 1){
                    $('input[name="user_id"]').val(res.data.user_id);
                    $('input[name="total_num"]').val(res.data.total_num);
                    $('input[name="deal_num"]').val(res.data.deal_num);
                    $('input[name="deal_type"]').val(res.data.deal_type);
                    // $('input[name="voucher_class"]').val(res.data.voucher_class);
                }else{
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json')

        });

        // 点击清空按钮
        $('.reset').click(function(){

            $.post('{:url("get_voucher_code")}', {voucher_class: 9}, function(res){
                if(res.code == 1){
                    $('input[name="voucher_code"]').val(res.msg);
                }else{
                    $('input[name="voucher_code"]').val('');
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
        })

        // 表单提交
        form.on('submit(submit)', function(data){

            var param = data.field;
            if(param.voucher_code == ''){ layer.msg('请先获取凭证编号', {icon: 2}); return false; }
            if(param.deal_id == ''){ layer.msg('请先填写单号', {icon: 2}); return false; }
            if(param.user_id == ''){ layer.msg('请先填写单号', {icon: 2}); return false; }
            if(param.total_num == ''){ layer.msg('请先填写单号', {icon: 2}); return false; }
            if(param.deal_num == ''){ layer.msg('请先填写单号', {icon: 2}); return false; }
            if(param.deal_type == ''){ layer.msg('请先填写单号', {icon: 2}); return false; }
            // if(param.voucher_class == ''){ layer.msg('请先填写单号', {icon: 2}); return false; }
            if(param.total_num == param.deal_num){
                layer.msg('挂单数和成交数相同,不能提交', {icon:2}); return false;
            }

            $.post('{:url("empty_financial")}', param, function(res){
                if(res.code == 1){
                    layer.msg(res.msg, {icon: 1});
                    window.location.href = '{:url("index")}';
                }else{
                    layer.msg(res.msg, {icon: 2});
                }

            }, 'json');

            return false;

        })


    })
</script>

{/block}