{extend name="layout" /}

{block name="content"}
<link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css?v={:config('asset_version')}">
<style>
    .layui-form-label{
        width: 120px;
    }
    .layui-form-item .layui-input-inline{
        width: 300px;
    }
</style>
<label class="layui-form-label" style="width: auto;">订单凭证</label>

<div class="block-content" style="background-color: #fff;">

    <form class="layui-form" action="" method="POST">

        <div class="layui-form-item">
            <label class="layui-form-label">凭证分类</label>
            <div class="layui-input-inline">
                <select name="voucher_class" lay-filter="voucher_class">
                    <option value="0">请选择凭证分类</option>
                    <option value="10">不扣手续费买单</option>
                    <option value="11">不扣手续费卖单</option>
                    <option value="12">扣手续费买单</option>
                    <option value="13">扣手续费卖单</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">凭证编号</label>
            <div class="layui-input-inline">
                <input type="text" name="voucher_code" placeholder="请选择凭证分类" value="" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">会员账号</label>
            <div class="layui-input-inline">
                <input type="text" id="user_account" name="user_account" placeholder="请填写会员账号" class="layui-input">
                <input type="hidden" name="user_id">
            </div>
            <div class="layui-form-mid layui-word-aux" id="user_account_div" style="display: none;"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">交易数量</label>
            <div class="layui-input-inline">
                <input type="number" name="number" placeholder="请先填写交易数量" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">交易类型</label>
            <div class="layui-input-inline">
                <select name="deal_type">
                    <option value="0">请选择交易类型</option>
                    <option value="1">零售票</option>
                    <option value="2">批发票</option>
                    <option value="3">奖励票</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">产品</label>
            <div class="layui-input-inline">
                <select name="product_id">
                    <option value="0">请选择产品</option>
                    {volist name="product_list" id="vo"}
                    <option value="{$vo.id}">{$vo.p_title} - {$vo.p_code}</option>
                    {/volist}
                </select>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea class="layui-textarea" name="remarks" rows="5"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="submit">提交</button>
            </div>
        </div>
    </form>
</div>

<script src="__STATIC__/index/layui/layui.js?v={:config('asset_version')}"></script>
<script>

    var user_account_status = false;

    layui.use(['form', 'layer', 'jquery'], function(){

        var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery;

        // 监听 凭证分类 下拉选择
        form.on('select(voucher_class)', function(data){

            var voucher_class = data.value;

            $.post('{:url("get_voucher_code")}', {voucher_class: voucher_class}, function(res){
                if(res.code == 1){
                    $('input[name="voucher_code"]').val(res.msg);
                }else{
                    $('input[name="voucher_code"]').val('');
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');

        }); 

        // 会员账号 失去焦点
        $("#user_account").blur(function(){

            var user_account = $('input[name="user_account"]').val();

            $.post('{:url("get_user_info")}', {user_account: user_account}, function(res){
                if(res.code == 1){
                    user_account_status = true;
                    $('#user_account_div').show();
                    $('#user_account_div').text(res.data.m_name);
                    $('input[name="user_id"]').val(res.data.id);
                }else{
                    user_account_status = false;
                    $('#user_account_div').hide();
                    $('#user_account_div').text('');
                    $('input[name="user_id"]').val('');
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json')

        });

        // 表单提交
        form.on('submit(submit)', function(data){

            var param = data.field;
            // 验证字段
            if(param.voucher_class == 0 || param.voucher_class == ''){ layer.msg('请先选择凭证分类', {icon:2}); return false; }
            if(param.voucher_code == ''){ layer.msg('请先选择凭证分类', {icon:2}); return false; }
            if(param.product_id == '0' || param.product_id == ''){ layer.msg('请选择产品', {icon: 2}); return false; }
            if(param.user_account == ''){ layer.msg('请填写会员账号', {icon: 2}); return false; }
            if(user_account_status == false){ layer.msg('填写的会员账号不存在', {icon: 2}); return false; }
            if(param.number == ''){ layer.msg('请填写数量', {icon: 2}); return false; }
            if(param.deal_type == 0 || param.deal_type == ''){ layer.msg('请选择交易类型', {icon:2}); return false; }
            if(!is_number(param.number)){ layer.msg('数量格式不正确', {icon:2}); return false; }

            $.post('{:url("order_financial")}', param, function(res){
                if(res.code == 1){
                    layer.msg(res.msg, {icon: 1});
                    window.location.href = '{:url("index")}';
                }else{
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        })

        // 判断是不是数字
        function is_number(value){
            if(/^(?:[1-9]\d*(?:\.\d+)?|0\.\d*[1-9]\d*)$/.test(value)){
                return true;
            }else{
                return false;
            }
        }


    })
</script>

{/block}