{extend name="layout" /}

{block name="content"}
<div class="layui-card-body">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding:20px 20px 0px 0px;">
        <div class="layui-form-item">
            <label class="layui-form-label">图谱展示</label>
            <div class="layui-input-block">
                <div class="layui-input-block" style="margin:0">
                    <div id="jstree" style="border: 1px solid #ccc;padding: 20px;margin-bottom: 36px"></div>
                </div>
                <div style="opacity: 0;position: absolute;z-index:-1" id="contentsd">
                    {$xxx}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/index/js/jstree.js"></script>
<script>
    var data = JSON.parse($("#contentsd").html());
    $('#jstree').jstree({
        'plugins': ['types', 'themes', 'search'],
        "search": {
            'show_only_matches': true,
            'show_only_matches_children': true
        },
        'types':{
            'default': {
                'icon': true                // 删除默认图标
            },
            'aaa': {}
        },
        'core': {
            'multiple': true,               // 可否多选
            'children':true,
            'data': formData(data),
            'dblclick_toggle': true         // 允许tree的双击展开
        }
    });
    function formData(data) {
        var newData = [];
        console.log(data);
        data.forEach((item,i) => {
            var children = [];
        var obj = {};
        obj['id'] = item.id;
        obj['text'] = item.data;
        item.children.forEach((item2) => {
            var obj2 = {};
        obj2.id = item2.id;
        obj2.text = item2.data;
        children.push(obj2)
    })
        obj.children = children;
        newData.push(obj);
    })
        return newData;
    }
</script>
{/block}