@charset "utf-8";
/* CSS Document */
/* select{appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;} */
.picker{display:none;position:fixed;top:0; left:0px; z-index:100;width:100%;height:100%;overflow:hidden;text-align:center;font-family:PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.picker .picker-mask{position:absolute;z-index:500;width:100%;height:100%;transition:all .5s;-webkit-transition:all .5s;background:transparent;opacity:0}
.picker .picker-mask.show{background:rgba(0,0,0,.6);opacity:1}
.picker .picker-panel{position:absolute; z-index:600; bottom:0; width:100%; height:4.64rem; background:#fff; transform:translateY(24rem);-webkit-transform:translateY(24rem);transition:all .5s;-webkit-transition:all .5s}
.picker .picker-panel.show{transform:translateY(0);-webkit-transform:translateY(0)}
.picker .picker-panel .picker-choose{position:relative; height:1.17332rem; line-height:1.17332rem; color:#666;}
.picker .picker-panel .picker-choose .picker-title{height:1.17332rem; font-size:.37333rem;text-align:center;color:#333}
.picker .picker-panel .picker-choose .cancel,.picker .picker-panel .picker-choose .confirm{position:absolute;padding:0px .16rem;}
h1.picker-title{ font-weight:normal; color:#333; font-size:.42666rem;}
.picker .picker-panel .picker-choose .confirm{right:0;color:#24b7e3; font-size:.4rem;}
.picker .picker-panel .picker-choose .cancel{left:0;font-size:.4rem;}
.picker .picker-panel .picker-content{position:relative;}
.picker .picker-panel .picker-content .mask-bottom,.picker .picker-panel .picker-content .mask-top{position:absolute;z-index:10;width:100%;height:.96rem;pointer-events:none;transform:translateZ(0);-webkit-transform:translateZ(0)}
.picker .picker-panel .picker-content .mask-top{top:0;background:-webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));background:-o-linear-gradient(bottom,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8))}
.picker .picker-panel .picker-content .mask-top:after,.picker .picker-panel .picker-content .mask-top:before{display:block;position:absolute;border-top:1px solid #eee;left:0;width:100%;content:" "}
.picker .picker-panel .picker-content .mask-top:before{display:none;top:0}
.picker .picker-panel .picker-content .mask-top:after{display:block;bottom:0}
.picker .picker-panel .picker-content .mask-bottom{bottom:0;background:-webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));background:-o-linear-gradient(top,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8))}
.picker .picker-panel .picker-content .mask-bottom:after,.picker .picker-panel .picker-content .mask-bottom:before{display:block;position:absolute;border-top:1px solid #eee;left:0;width:100%;content:" "}
.picker .picker-panel .picker-content .mask-bottom:before{display:block;top:0}
.picker .picker-panel .picker-content .mask-bottom:after{display:none;bottom:0}
.picker .picker-panel .wheel-wrapper{display:-ms-flexbox;display:-webkit-box;display:flex;padding:0 10px}
.picker .picker-panel .wheel-wrapper .wheel{-ms-flex:1 1 1e-9px;-webkit-box-flex:1;flex:1; flex-basis:1e-9px; width:1%; height:2.9333rem;overflow:hidden;}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll{margin-top:.98666rem;line-height:.98666rem;}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll .wheel-item{height:.96rem; font-size:.37333rem; overflow:hidden;white-space:nowrap;color:#333}
.picker .picker-footer{height:.5333rem;}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
	.border-1px:after,.border-1px:before{-webkit-transform:scaleY(.7);-webkit-transform-origin:0 0;transform:scaleY(.7)}
	.border-1px:after{-webkit-transform-origin:left bottom}
	}
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
	.border-1px:after,.border-1px:before{-webkit-transform:scaleY(.5);transform:scaleY(.5)}
	}
